<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>demo</title>
        <link type="text/css" rel="stylesheet" href="../../css/default.css" />
        <link type="text/css" rel="stylesheet" href="../../css/projectA/projectA.css" />
    </head>
    <body style="padding: 10px;">
        demo

        <pre class="codes">
body {background:#ccc;}
a {color:#ccc;}</pre>

        <textarea class="codes" style="width: 600px; height: 300px;">
<ul class="pager">
    <li class="page prev">
        <a href="#" href="#"> < </a>
    </li>
    <li class="page cur">
        <a href="#" href="#">1</a>
    </li>
    <li class="page">
        <a href="#" href="#">2</a>
    </li>
    <li class="page">
        <a href="#" href="#">3</a>
    </li>
    <li class="page">
        <a href="#" href="#">4</a>
    </li>
    <li class="page next">
        <a href="#" href="#"> > </a>
    </li>
</ul></textarea>
    </body>

</html>
<script type="text/javascript" src="../../../jquery.min.js"></script>
<script type="text/javascript">
$(function(){
    
})
</script>